Repository npitsillos/talos, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, feature, documentation

.github/labeler.yml:

repo:
  - ./*

feature:
  - talos/*

documentation:
  - ./*.md

fix: deploy workflow
  .github/workflows/talos-deploy.yml
Labels: none

Update talos-deploy.yml
  .github/workflows/talos-deploy.yml
Labels: none

Update talos-deploy.yml
  .github/workflows/talos-deploy.yml
Labels: none

Fixed deploy workflow
  .github/workflows/talos-deploy.yml
Labels: none

Update talos-deploy.yml
  .github/workflows/talos-deploy.yml
Labels: none

Update talos-deploy.yml
  .github/workflows/talos-deploy.yml
Labels: none

fix: docker files
  .github/workflows/talos-deploy.yml
  Dockerfile
  Dockerfile.production
  docker-compose.yml
Labels: repo

fix: repo link in deploy workflow
  .github/workflows/talos-deploy.yml
Labels: none

fix: scp path in deploy workflow
  .github/workflows/talos-deploy.yml
Labels: none

fix: docker-compose up command in deploy workflow
  .github/workflows/talos-deploy.yml
Labels: none

fix: changed tutorial model class name & added setup to tutorial cog
  talosbot/db_models.py
  talosbot/extensions/tutorial/tutorial.py
Labels: none

fix(create): now looks for longest matching word
  .pre-commit-config.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  talosbot/commands/base.py
  talosbot/commands/manage.py
  talosbot/db_models.py
  talosbot/exceptions.py
  talosbot/extensions/competition/competition.py
  talosbot/extensions/tutorial/tutorial.py
Labels: repo

fix: changed versions in pre-commit file
  .pre-commit-config.yml
Labels: repo

fix: changed yml to yaml
  .pre-commit-config.yaml
Labels: repo

fix: flakehell version
  .pre-commit-config.yaml
Labels: repo

fix: switch to flake8
  .pre-commit-config.yaml
  pyproject.toml
Labels: repo

removed flakehell settings
  pyproject.toml
Labels: repo

added flake8
  poetry.lock
  pyproject.toml
  talosbot/commands/base.py
  talosbot/extensions/competition/competition.py
Labels: repo

build: added flake8 file for flake8 config
  .flake8
  pyproject.toml
  talosbot/cog_manager.py
  talosbot/extensions/competition/competition.py
  talosbot/extensions/tutorial/tutorial.py
Labels: repo

fix: ignore E402 for loading env variables
  .flake8
Labels: repo

feat: set_team_name
  Dockerfile
  Dockerfile.production
  README.md
  talosbot/commands/manage.py
  talosbot/db_models.py
  talosbot/exceptions.py
  talosbot/extensions/competition/competition.py
Labels: repo, documentation

fix: github action clones branch
  .github/workflows/talos-deploy.yml
Labels: none

build: use GITHUB_REF_NAME in ref variable
  .github/workflows/talos-deploy.yml
Labels: none

build: changed ref
  .github/workflows/talos-deploy.yml
Labels: none

test
  .github/workflows/talos-deploy.yml
Labels: none

testing worfklow
  .github/workflows/talos-deploy.yml
Labels: none

testing worfklow
  .github/workflows/talos-deploy.yml
Labels: none

testing worfklow
  .github/workflows/talos-deploy.yml
Labels: none

testing worfklow
  .github/workflows/talos-deploy.yml
Labels: none

testing worfklow
  .github/workflows/talos-deploy.yml
Labels: none

testing worfklow
  .github/workflows/talos-deploy.yml
Labels: none

build: added stage workflow
  .github/workflows/talos-deploy.yml
  .github/workflows/talos-stage.yml
Labels: none
